doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 411730012_張紫玲的期末作業
        link(rel="stylesheet", href="index.css")
    body 
        .box
            .box1 
                h4 淡江大學教育科技學系TKUET
            .box2 
                h4 這是我的測試
            .box3 
                h4 click animal icon
        .scene 
            h1.title what is TKUET ?
            h2.title2  Let me tell you !
            .person
                .hairs
                    .hair1 
                    .hair2 
                    .hair3

                .body                     
                    .eyes 
                        .eye 
                            .eyeball 
                        .eye 
                            .eyeball
                    .mouth
                        .food 
        .youtubeDisplay
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/ug8jL7UkBio?si=exrF6uBNMONRyORp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
        .imageDisplay 
            a(href="http://www.et.tku.edu.tw/" target="_blank")
                img(class="img1" src="hyrax.png" width="100%" height="100%" alt="Grapefruit slice atop a pile of other slices")
        .imageDisplay
            a(href="https://collego.edu.tw/Highschool/DepartmentIntro?dept_id=014006" target="_blank") 
                img(class="img2" src="hamster.png" width="100%" height="100%" alt="Grapefruit slice atop a pile of other slices")
        .imageDisplay
            a(href="https://www.unews.com.tw/Newschool/Department/53/1279" target="_blank") 
                img(class="img3" src="kusa.png" width="100%" height="100%" alt="Grapefruit slice atop a pile of other slices")
        .imageDisplay
            a(href="https://www.tku.edu.tw/" target="_blank")
                img(class="img4" src="oorisu.png" width="100%" height="100%" alt="Grapefruit slice atop a pile of other slices")
        .h5pDisplay
            iframe(src="https://h5p.org/h5p/embed/617" width="901" height="568" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Interactive Video")  
            script(src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8")
